
  
  
  /*NAV CONTAINER*/
  .nav-container {
    width: 100%;
    height: 20%;
  
  }
  
  
  
  /*LOGO CIAO*/
  .logo-ciao {
    width: 10%;
    max-width: 10%;
    height: auto;
  }
  
  /* NAV-BAR */
  .navbar-nav {
  
  
    .nav-item {
      word-spacing: 20px !important;
  
      .nav-link {
        color: $color-black;
        font-size: 18px;
      }
    }
  }
  
  /*BUTTON*/
  .btn {
    font-weight: bolder;
  }
  
  .nav-link:hover {
    padding: 30px;
    background-color: rgb(228, 207, 88);
    color: black;
  
  }
  