/*VARIABLES*/

$color-black:rgb(19, 17, 3);
$color-white:rgb(253, 250, 216);
$text-shadow: 1px 1px 2px black;
$box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
$color-pink:rgb(255, 217, 217);
$color-grey:rgb(56, 56, 55);
$color-orange:rgb(255, 123, 0);



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: content-box;
}

/*BODY*/
body {
  font-family: 'Raleway', sans-serif;
}

/*FOOTER*/
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: $color-orange;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;

}

/*END FOOTER*/

/*HEADER*/

/*NAV CONTAINER*/
.nav-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  position: fixed;
  z-index: 100;
  top: 0;
  padding: 1rem 0;
}

.button:focus {
  outline: none !important;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  width: 3em;
}

/*OPCIONES*/
.opciones {
  color: $color-orange;
  font-weight: bold;
}

/*LOGO CIAO*/
.logo-ciao {
  width: 15%;
  max-width: 15%;
  height: auto;
}

/* NAV-BAR */
.navbar-nav {
  align-items: center;

  .nav-link {
    color: $color-grey;
    font-size: 1em;
    text-align: justify;
  }
}


.nav-link:hover {
  background-color: rgb(248, 217, 41);
  color: black;

}

/*END HEADER*/


/*IMAGEN PRINCIPAL Y TEXTO ADENTRO*/
.img-principal {
  background-image: url("../img/img-principal.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  height: auto;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;

  .welcome {
    font-size: 3em;
    color: $color-white;
    font-weight: bold;
    text-shadow: $text-shadow;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    overflow: hidden;


    .welcome-2 {
      font-size: 30px;

    }
  }
}


/*FRASE AFTER IMGAEN PRINCIPAL*/

.parrafos {
  text-align: center;

  .parrafos-1 {
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
    color: rgb(56, 56, 55);

    .parrafo-2 {
      color: $color-black;
    }

  }
}

/*COLOR FLECHITAS CAROUSEL*/
.carousel-control-prev,
.carousel-control-next {
  color: #1a1a1a;
}


/*FLECHITA CAROUSEL izquierda*/
.carousel-control-prev-icon {
  background-color: rgb(187, 187, 187);
  border-radius: 50%;
  padding: 15px;
}

/*FLECHITA CAROUSEL derecha*/
.carousel-control-next-icon {
  background-color: rgb(187, 187, 187);
  border-radius: 50%;
  padding: 15px;
}

/*TAMAÑO IMAGENES CAROUSEL*/
.carousel-item {
  .carousel-image {
    margin: 0 auto;
    width: 55%;
    height: auto;
    border-radius: 1%;
  }
}


/*PREGUNTADEPSUES DEL CARROUSEL*/
.pregunta {
  p {
    margin: auto;
    align-items: center;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
    color: $color-orange;
    margin-bottom: 15px;
  }
}

/*BUTTON MENU*/
.btn{
  font-weight: bold;
  font-size: 1em;
  margin-top: 5px;
  color: $color-orange;
  margin:auto !important;
  display: block;
  width: 15%;
  color: $color-orange;

}

/*BOTON ENVIAR FORMULARIO*/
.btn-enviar {
  font-weight: bold;
  font-size: 1em;
  margin-top: 5px;
  color: $color-orange;
  margin: 0 auto !important;
  display: block;
  border-radius: 3px;
  padding: 5px;
}

/*TEXTO QUE DICE CONTACTO*/
.footer-txt {
  text-align: center;
  margin-top: 50px;
}

/*posicionamiento iconos*/
.footer {
  display: flex;
  margin-top: 100px;
  justify-content: space-around;


  .icon {
    width: 200%;
  }
}

/*FOMULARIO FINAL DE PAGINA*/
.form {
  background-color: $color-pink;
  color: black;
  opacity: 0.9;
  display: flex;
  overflow-x: hidden;
  width: 100%;
  font-size: 1em;
  margin-top: 50px;
  color: $color-orange;


  .form-tamaño {
    justify-content: center;
    align-items: center;
    padding: 5px;

    .col-md-8 {
      margin: auto 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
  }
}

.form-input {
  width: 50%;
}

/*----------------------------------------------MENU-------------------------------------------------*/
/*main menu*/
.main-menu {
  margin-top: 150px;
}

/*CUAL VAS A PROBAR PREGUNTA*/
.pregunta {
  h2 {
    text-align: center;
    color: $color-orange;
  }
}

.pregunta-2 {
  h2 {
    text-align: center;
    color: $color-orange;
    font-size: 20px;
    margin-top: 20px;
  }
}

/*CARDS*/
.contenedor-cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.card {
  position: relative;
  overflow: hidden;
  /*PARA QUE SE OCULTE LO QUE SOBRESALE*/
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
  object-fit: cover;
}

.txt-cards {
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 26, 3, 0.7);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  color: #fdfad8;
}

.txt-cards h3 {
  margin-top: 50px;
}

.txt-cards p {
  margin-top: 50px;
}

.contenedor-cards .card:hover>.txt-cards {
  opacity: 1;
  visibility: visible;
}

/*LINEA SEPARADORA*/
hr {
  color: $color-orange;
  width: 100px;
  margin: auto;
  margin-top: 20px;
}


/*FIDEOS-RELLENAS-SALSAS*/
.tipos-pasta {
  h3 {
    margin: auto;
    align-items: center;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    color: $color-orange;
  }
}

.tipos-pasta__postres {
  h3 {
    margin: auto;
    align-items: center;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    color: $color-orange;


  }
}


/*IMAGEN CARRITO*/
.carrito {
  width: 20%;
  height: auto;
}


/*-------------------UBICACION-----------------------------------------*/

/*main ubicacion*/
.main-ubicacion {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
}

/*IMAGEN UBICACION PORTADA*/
.img-ubicacion {
  background-image: url("../img/resto.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  height: auto;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 150px;
}



/*BOTONES*/
.boton-1 {
  text-align: center;
  margin-top: 45px;
}

/*TEXTO UBICACION PORTADA*/
.ubicacion {
  font-size: 40px;
  color: $color-white;
  font-weight: bold;
  text-align: center;
  text-shadow: $text-shadow;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}




/*UBICACION-1-imagen*/
.ubicacion-1__img {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

/*UBICACION-1*/
.ubicacion-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: auto;
  width: 100%;

  .ubicacion-1__localidad {
    color: $color-orange;
  }
}

.ubicacion-1__info {
  text-align: center;
  margin-top: 50px;

}

/*UBICACION-2*/

.ubicacion-2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: $color-pink;
  width: 100%;

  .ubicacion-2__info{
    .ubicacion-2__localidad{
      justify-content: center;
      margin-top: 50px;

      .ubicacion-2__calle{
        justify-content: center;
        margin-top: 50px;

        .ubicacion-2__parrafo{
          justify-content: center;
          margin-top: 50px;
        }
      }
    }
  }
}

/*BOTON UBICACION*/
.botton-2{
  color: $color-orange;
  
}



/*IMAGEN DOS*/
.ubicacion-2__img {
  margin: 50px 0 50px 0;
  width: 90%;
  height: auto;
}